.root {
    clear: both;
    float: none;
    background: #fff;
    min-height: 200px;
    padding: 30px 20px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
    overflow: hidden;
    display: block;
    text-decoration: none;
    color: #212121;
    position: relative;
}

.withoutBoxShadow {
    box-shadow: none;
}


.remove {
    width: 200px;
    border: 1px solid red;
    cursor: pointer;
    padding: 7px 30px;
    font-weight: bold;
    background: red;
    color: #ffffff;
    float: left;
    clear: left;
}

.remove + a{
    float: left;
    clear: none;
    margin-left: 20px;
}


.root h1 {
    width: 70%;
    font-size: 20px;
    margin: 0;
    padding: 0;
}

.root img {
    float: right;
    height: 200px;
    position: absolute;
    right: 10px;
    top: 10px;
}

.root p {
    width: 70%;
    float: left;
}

@media screen and (max-width: 768px) {
    .root img {
        margin: 10px auto 40px auto;
        display: block;
        float: none;
        position: relative;
        top: auto;
        right: auto;
    }

    .root p {
        width: 100%;
    }

    .remove,
    .remove + a,
    .root > a{
        width: 290px;
        margin: 5px auto;
        padding: 10px;
        float: none;
        clear: both;
    }
}