.root {
    clear: both;
    float: none;
    background: #fff;
    min-height: 200px;
    padding: 20px 80px 20px 20px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
    overflow: hidden;
    display: block;
    text-decoration: none;
    color: #212121;
    position: relative;
}

.withoutBoxShadow {
    box-shadow: none;
}

.root h1 {
    width: 70%;
    font-size: 20px;
    margin: 0;
    padding: 0;
}

.root img {
    float: right;
    height: 200px;
    position: absolute;
    right: 10px;
    top: 10px;
}

.root p {
    width: 70%;
    float: left;
}

@media screen and (max-width: 768px) {
    .root img {
        margin: 0 auto;
        display: block;
        float: none;
    }
}