.root {
    background: #8BC34A;
    width: 150px;
    height: 20px;
    border: 0;
    box-shadow: 0px 0px 3px rgba(0,0,0, 0.5);
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    padding: 8px 10px;
    display: block;
    text-align: center;
    clear: both;
    float: none;
}